* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; }

html {
    background-color: #dfdbdb; }

body {
    display: block;
    width: 80%;
    margin: auto;
    background-color: white;
    font-family: 'Big Shoulders Display', cursive;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px; }

@media (min-width: 1240px) {
body {
    height: 36.5rem;
    margin-top: 10rem; } }

h1 {
    color: white;
    font-size: 2rem;
    margin-left: 3rem;
    font-family: 'Big Shoulders Display' !important; }

h2 {
    color: white;
    font-size: 2rem;
    margin-left: 3rem;
    font-family: 'Big Shoulders Display' !important; }

.h3 {
    font-size: .7rem;
    margin-left: 3rem;
    margin-bottom: 3rem; }

p {
    width: 56%;
    color: rgba(255, 255, 255, 0.75);
    margin-left: 3rem;
    line-height: 1.7rem;
    font-size: .7rem; }

.mainContainer {
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: auto;
    margin-bottom: 3rem;
    border-radius: 2%; }

@media (min-width: 1240px) {
.mainContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 4rem;
    margin-bottom: 4rem; } }

.containerSedans {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.7rem;
    background-color: #e38826;
    border-top-left-radius: 2% 2%;
    border-top-right-radius: 2% 2%;
    margin-top: 4rem; }

@media (min-width: 1240px) {
.containerSedans {
    height: 25rem;
    align-items: flex-start;
    gap: 1.8rem;
    border-top-right-radius: 0% 0%;
    border-bottom-left-radius: 2% 2%;
    margin-top: 6rem;
    margin-left: 10rem; } }

.containerSuvs {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    background-color: #006970; }

@media (min-width: 1240px) {
.containerSuvs {
    height: 25rem;
    gap: 1.8rem;
    margin-top: 6rem; } }

@media (min-width: 1240px) {
.containerSuvs p {
    width: 57%;
    }
}

.containerLuxury {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    background-color: #004241;
    border-bottom-left-radius: 2%;
    border-bottom-right-radius: 2%;
    margin-bottom: 4rem; }

@media (min-width: 1240px) {
.containerLuxury {
    height: 25rem;
    gap: 1.8rem;
    border-top-right-radius: 2% 2%;
    border-bottom-right-radius: 2% 2%;
    border-bottom-left-radius: 0%;
    margin-top: 6rem;
    margin-right: 10rem;
    margin-bottom: 0px; } }


.learnMore {
    width: 45%;
}

.containerSedans .learnMore  {
    background-color: white;
    color: #e38826;
    text-align: center;
    padding: 5px 10px 5px 10px;
    border-top-left-radius: 100% 300%;
    border-bottom-left-radius: 100% 300%;
    border-top-right-radius: 100% 300%;
    border-bottom-right-radius: 100% 300%;
    margin-bottom: 2rem; }

.containerSuvs .learnMore {
    width: 44%;
    background-color: white;
    color: #006970;
    text-align: center;
    padding: 5px 10px 5px 10px;
    border-top-left-radius: 100% 300%;
    border-bottom-left-radius: 100% 300%;
    border-top-right-radius: 100% 300%;
    border-bottom-right-radius: 100% 300%;
    margin-bottom: 2rem; }

.containerLuxury .learnMore {
    background-color: white;
    color: #004241;
    text-align: center;
    padding: 5px 10px 5px 10px;
    border-top-left-radius: 100% 300%;
    border-bottom-left-radius: 100% 300%;
    border-top-right-radius: 100% 300%;
    border-bottom-right-radius: 100% 300%;
    margin-bottom: 2rem; }

.mainContainer div img {
    margin-top: 3rem;
    margin-left: 3rem; }

.centerAttribution {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; 
    gap: 0px; }

@media (min-width: 1240px) {
.centerAttribution {
    width: 25%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: -2.5rem } }

.centerAttribution p {
    width: 100%;
    font-size: .6rem;
    color: black;
    text-align: center;
    margin: 0px; }
